<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ UserName }}</title>
    <link rel="stylesheet" href="/statics/plugins/bootstrap/dist/css/bootstrap.css">
</head>
<body style="background-color: #333333">
<header>
    <nav id="headers" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            ...
        </div>
    </nav>
</header>


<div class="container">
    <div class="col-sm-12" style="background-color: #2a6496;height: 300px;">
    </div>

    <div class="col-sm-12" style="background-color: #ffffff;height: 40px;">
        <a href="#">主页</a>
        <a href="#">相册</a>
        <a href="#">管理中心</a>
    </div>

    <div>
        <div class="col-sm-4" style="background-color: rebeccapurple;height: 100px;">
            asd
        </div>

        <div class="col-sm-8" style="background-color: darkgreen;height: 100px;">
            asd
        </div>

    </div>
</div>



</body>
<script src="/statics/plugins/jquery-3.1.0.js"></script>
<script src="/statics/plugins/bootstrap/dist/js/bootstrap.js"></script>
</html>